<a href="https://colab.research.google.com/github/Anietim/3MTT-GOMYCODE-AltSchool-Africa/blob/main/Create%20a%20list%20of%20products%20with%20PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

In [6]:
# Convert Crete a list of product
product_list = [ 'Apple', 'Banana', 'Carrot', 'Daikon']

In [10]:
# Convert the list into pandas series
products_series = pd.Series(product_list)

In [39]:
# Print out the new Series
print(products_series)
print

0     Apple
1    Banana
2    Carrot
3    Daikon
dtype: object

In [31]:
# Create new Series with prices of the products
prices = [2,1,3,4]

In [40]:
print(prices_series)

0    2
1    1
2    3
3    4
dtype: int64

In [41]:
# Convert prices list into pandas series
price_series = pd.Series(prices)

In [48]:
# Create a DataFrame by combining the two Series
df = pd.DataFrame({'Product': products_series, 'Price': prices_series})

In [50]:
# Print out the DataFrame
print("DataFrame:")
print(df)

DataFrame:
  Product  Price
0   Apple      2
1  Banana      1
2  Carrot      3
3  Daikon      4

In [51]:
# Create a DataFrame using a dictionary of lists
data_dict = {'Product': products_series, 'Price': prices_series}
df_from_dict = pd.DataFrame(data_dict)

In [52]:
# Print out the DataFrame
print("DataFrame from Dictionary:")
print(df_from_dict)
print()

DataFrame from Dictionary:
  Product  Price
0   Apple      2
1  Banana      1
2  Carrot      3
3  Daikon      4

In [53]:
# Create a DataFrame using a list of dictionaries
data_list = [{'Product': product, 'Price': price} for product, price in zip(products_series, prices_series)]
df_from_list = pd.DataFrame(data_list)

In [55]:
# Print out the DataFrame
print("DataFrame from List of Dictionaries:")
print(df_from_list)

DataFrame from List of Dictionaries:
  Product  Price
0   Apple      2
1  Banana      1
2  Carrot      3
3  Daikon      4