<a href="https://colab.research.google.com/github/Anietim/3MTT-GOMYCODE-AltSchool-Africa/blob/main/practice_(Gomycode)pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CALCULATION**

In [ ]:
# IMPORT MATH

In [ ]:
print("select an opeartion to perform:")
print("1. ADDITION")
print("2. SUBTRACT")
print("3. MULTIPLICATION")
print("4. DIVIDE")
print("5. SQUARE ROOT")
print("6. RAISE TO POWER")


operation = input ()

if operation == "1": # PERFORM ADDITION
  num1 = input("Enter first number")
  num2 = input("Enter second number")
  print("The sum is " + str (int(num1) + int(num2)))
elif operation == "2": # PERFORM SUBTRACTION
  num1 = input("Enter first number")
  num2 = input("Enter second number")
  print("The defference is " + str (int(num1) + int(num2)))
elif operation == "3": # PERFORM MULTIPLICATION
  num1 = input("Enter first number")
  num2 = input("Enter second number")
  print("The product is " + str (int(num1) + int(num2)))
elif operation == "4": # PERFORM DIVITION
  num1 = input("Enter first number")
  num2 = input("Enter second number")
  print("The result is " + str (int(num1) + int(num2)))
else:
  print("Invalid Entry")

**###ASSIGNMENT**

Create a tuple called "person" that contains a string "John" as a name, 25 as a age and "male" as a gender.
Print the name of the person
Try to change the age of the person and see what happens.

In [ ]:
#create a tuple
person=("john", 25, "male")
print("name of the person:", person [0]) #

name of the person: john

In [ ]:
print("age of the person", person [1])

age of the person 25

In [ ]:
print("sex of the person", person [2])

sex of the person male

Create a list called "grocery_list" that contains "milk", "bread", "eggs", "bananas"Print the first item in the grocery_list.
Add "chocolate" to the grocery_list
Remove "milk" from the grocery_list

In [ ]:
#Create a list called "grocery_list"
grocery_list = ["milk", "bread", "eggs", "bananas"]
print("first item in the grocery_list:", grocery_list[0])

first item in the grocery_list: milk

In [ ]:
grocery_list = ["milk", "bread", "eggs", "bananas"]
print("third item in the grocery_list:", grocery_list[2])

third item in the grocery_list: eggs

In [ ]:
#Add "chocolate" to the grocery_list
grocery_list.append("chocolate")

In [ ]:
#Remove "milk" from the grocery_list
grocery_list.remove("milk")

In [ ]:
#print the updated grocery_list
print("updated grocery list:", grocery_list)

updated grocery list: ['bread', 'eggs', 'bananas', 'chocolate']

Create a set called "unique_numbers" that contains the integers 1, 2, 3, 4, 5
Add number 6 to the unique_numbers
Print the length of the unique_numbers
Try to add a duplicate number and see what happens

In [ ]:
#Create a set called "unique_unmbers"
unique_unmbers = {1, 2, 3, 4, 5}
print("unique_numbers", {1, 2, 3, 4, 5})

unique_numbers {1, 2, 3, 4, 5}

In [ ]:
#Add number 6 to the unique_numbers
unique_unmbers.add(6)

In [ ]:
#Print the length of the unique_numbers
print("Length of unique_numbers:", len(unique_unmbers))

Length of unique_numbers: 6

In [ ]:
#Add a duplicate number
unique_unmbers.add(5) # Adding a duplicate number

In [ ]:
#Print the updated unique_numbers
print("updated unique_numbers:", unique_unmbers)

updated unique_numbers: {1, 2, 3, 4, 5, 6}

Create a dictionary called "employee" that contains the keys "name", "age", "position" and "salary", with their corresponding values "John", 25, "Developer" and 3000 respectively.
Print the employee's name
Change the employee's position to "Manager"
Add a new key "email" with the value "john@example.com" to the employee dictionary

In [ ]:
#Create a dictionary called "employee"
employee = {
    "name": "john",
    "age": "25",
    "position": "Developer",
    "salary": 3000
}

In [ ]:
#Print the employee's name
print("employee's name:", employee["name"])

employee's name: john

In [ ]:
#change the employee's position to "manager"
employee["position"] = "manager"

In [ ]:
#Add a new key "email" with the value "john@example.com" to the employee dictionary
employee["email"] = "john@example.com"

In [ ]:
#Print the updated employee dictionary
print("updated employee dictionary:", employee)

updated employee dictionary: {'name': 'john', 'age': '25', 'position': 'manager', 'salary': 3000, 'email': 'john@example.com'}

#Explore our planetary system with various data structures

In [ ]:
#List

In [ ]:
#List of planets in the solar system
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [ ]:
#List of distances of planets from the sun(in million of kilometers)
distances_from_sun = [57.9, 108.2, 149.6, 227.9, 778.6, 1433.5, 2872.5, 4495.1]

In [ ]:
#List of diameters of planets (in thousands of kilometers)
diameters = [4.88, 12.1, 12.7, 6.79, 139.8, 116.5, 50.7, 49.2]

In [ ]:
#print information about planet
for i in range(len(planets)):
  print("planet:", planets[i])
  print("distance from the sun (million km):", distances_from_sun[i])
  print ("Diameter (thousand km)", diameters[i])
  print()

planet: Mercury
distance from the sun (million km): 57.9
Diameter (thousand km) 4.88

planet: Venus
distance from the sun (million km): 108.2
Diameter (thousand km) 12.1

planet: Earth
distance from the sun (million km): 149.6
Diameter (thousand km) 12.7

planet: Mars
distance from the sun (million km): 227.9
Diameter (thousand km) 6.79

planet: Jupiter
distance from the sun (million km): 778.6
Diameter (thousand km) 139.8

planet: Saturn
distance from the sun (million km): 1433.5
Diameter (thousand km) 116.5

planet: Uranus
distance from the sun (million km): 2872.5
Diameter (thousand km) 50.7

planet: Neptune
distance from the sun (million km): 4495.1
Diameter (thousand km) 49.2

In [ ]:
# Dictionary

In [ ]:
#Dictionary representing information about each planet

In [ ]:
planet_info = {
    "Mercury": {"distance_from_sun":57.9, "diameter": 4.88},
    "Venus": {"distance_from_sun": 108.2, "diameter": 12.1},
    "Earth": {"distance_from_sun": 149.6, "diameter": 12.7},
    "Mars": {"distance_from_sun": 227.9, "diameter": 6.79},
    "Jupiter": {"distance_from_sun": 778.6, "diameter": 139.8},
    "Saturn": {"distance_from_sun": 1433.5, "diameter": 116.5},
    "Uranus": {"distamcef_from_sun": 2872.5, "diameter": 50.7},
    "Neptune": {"distance_from_sun": 4495.1, "diameter": 49.2 }
}

In [ ]:
def wish_happy_birthday():
  print("Happy birthday to you!")